bin
.vs
obj
packages
/Dependencies/Assembly-CSharp-firstpass.dll
/Dependencies/Assembly-CSharp-firstpass_publicized.dll
/Dependencies/Assembly-CSharp.dll
/Dependencies/Assembly-CSharp_publicized.dll
/Dependencies/SMLHelper.dll
/Dependencies/SMLHelper.xml
