bin
.vs
obj
packages
/Dependencies/Assembly-CSharp-firstpass.dll
/Dependencies/Assembly-CSharp-firstpass_publicized.dll
/Dependencies/Assembly-CSharp.dll
/Dependencies/Assembly-CSharp_publicized.dll
/Dependencies/SMLHelper.dll
/Dependencies/SMLHelper.xml

*.user

CyclopsNuclearReactor/CyclopsNuclearReactor\.csproj
/DependenciesUnity5/Assembly-CSharp.dll
/DependenciesUnity5/Assembly-CSharp_publicized.dll
/DependenciesUnity5/Assembly-CSharp-firstpass.dll
/DependenciesUnity5/Assembly-CSharp-firstpass_publicized.dll
/DependenciesUnity2018/Assembly-CSharp.dll
/DependenciesUnity2018/Assembly-CSharp-firstpass.dll
